body{
   margin: 0px;
}
header{
   padding: 5px 0px 10px 0px;
   background-color: rgb(35, 35, 35);
}
header h1{
   display: inline;
   padding-left: 5px;
   font-size: 30px;
   color: rgb(160, 25, 25);
}
ul{
   list-style-type: none;
   display: inline-flex;
   float: right;
   margin: 10px 0px 0px 0px;
}
ul li{
   color: rgb(225, 225, 225);
   font-size: 20px;
   padding: 0px 15px 0px 10px;
}