body{
   margin: 0px;
}
/* Header Styles */
header{
   padding: 5px 0px 10px 0px;
   background-color: rgb(35, 35, 35);
}
header h1{
   font-family: 'Lucida Handwriting', cursive;
   display: inline;
   padding-left: 15px;
   font-size: 35px;
   color: rgb(160, 25, 25);
}
ul{
   list-style-type: none;
   display: inline-flex;
   float: right;
   margin: 15px 0px 0px 0px;
}
ul li{
   color: rgb(225, 225, 225);
   font-size: 20px;
   padding: 0px 15px 0px 10px;
}

/* hero section styles */

hero-section{
   margin-top: 10%;
   margin-bottom: 25%;
   line-height: 10px;
   display:block;
   text-align: center;
   font-size: 30px;  
}
hero-section button{
   background-color: rgb(160, 25, 25);
   color: white;
   font-size: 20px;
   margin-top: 30px;
   padding: 10px 20px 10px 20px;
   border: rgb(75, 75, 75) solid 2px;
   border-radius: 5px;
   cursor: pointer; 
}
/* Services section styles */

service-section{
   margin-top: 5%;
   text-align: center;
}
service-section h1{
   font-size: 45px;
   margin: 100px 0px 50px 0px;
}
service-section h2{
   margin-top: 60px;
   font-size: 35px;
}
service-section p{
   font-size: 20px;
   text-align-last: center;
   margin: 0px 25% 0px 25%;
}
.prices{
   margin: 0px 30% 0px 30%;
}
.prices h3{
   text-align: left;
   font-size: 25px;
   margin: 25px 0px 10px 0px;
}
.prices h4{
   text-align: left;
   color: rgb(160, 25, 25);
   font-size: 20px;
   margin: 0px 0px 5px 0px;
}
/* Galary of Works (GofW) section styles */
gofw-section h1{
   text-align: center;
   font-size: 60px;
   margin: 80px 0px 50px 0px;
}
.gofw-images{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}
gofw-section img{
   width: 550px;
   margin: 3px;
   border: rgb(75, 75, 75) solid 2px;
}
/*feedback section styles*/
feedback-section{
   margin-top: 5%;
}
feedback-section p{
   font-size: 22px;
   margin: 0px 20% 0px 20%;   
}
feedback-section h3{
   font-size: 25px;
   margin: 5px 20% 20px 20%;
}

/* Contact form styles */
contacts-section a{
   color: brown;
   text-decoration: none;
}
div.feedback-form{
   width: 40%;
   margin: 0px 20% 50px 20%;
   box-sizing: border-box;
}
input{
   border-color: brown;
   border-radius: 5px;
   font-size: 15px;
   width: 40%;
}
textarea{
   border-color: brown;
   border-radius: 5px;
   font-size: 15px;
   width: 82%;
   margin: 5px 0px 0px 0px;
}
button{
   background-color: rgb(160, 25, 25);
   color: white;
   font-size: 20px;
   margin: 5px 0px 0px 0px;
   padding: 10px 20% 10px 20%;
   border: rgb(75, 75, 75) solid 2px;
   border-radius: 5px;
   cursor: pointer; 
}