body{
   margin: 0px;
}
/* Header Styles */
header{
   padding: 5px 0px 10px 0px;
   background-color: rgb(35, 35, 35);
}
header h1{
   font-family: 'Lucida Handwriting', cursive;
   display: inline;
   padding-left: 15px;
   font-size: 35px;
   color: rgb(160, 25, 25);
}
ul{
   list-style-type: none;
   display: inline-flex;
   float: right;
   margin: 15px 0px 0px 0px;
}
ul li{
   color: rgb(225, 225, 225);
   font-size: 20px;
   padding: 0px 15px 0px 10px;
}

/* hero section styles */

hero-section{
   margin-top: 10%;
   line-height: 10px;
   display:block;
   text-align: center;
   font-size: 30px;  
}
hero-section button{
   background-color: rgb(160, 25, 25);
   color: white;
   font-size: 20px;
   margin-top: 30px;
   padding: 10px 20px 10px 20px;
   border: rgb(75, 75, 75) solid 2px;
   border-radius: 5px;
   cursor: pointer; 
}